@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
  background-color: rgb(183, 228, 213);
  border-radius: 5%;
  box-shadow: 2px 2px 2px 2px black;
  text-align: center;
  padding: 30px;
  justify-content: center;
  width: 20%;

}
.card-container{
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}